<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <title>Gigs Finder</title>
  </head>
  <body>
    <div class="ui container">
      <div class="ui three item menu">
        <a class="active item" href="/">Home</a>
        <a class="item" href="/gigs/add-gig">Add A Gig</a>
        <a class="item" href="/gigs">All Gigs</a>
      </div>
      <form class="ui form">
        <div class="field">
          <label><h1>Search for a Gig</h1></label>
          <input
            type="text"
            name="term"
            placeholder="Search any technologies you want..."
          />
        </div>
        <button class="ui button" type="submit">SEARCH</button>
      </form>
    </div>
  </body>
</html>
